.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

  .btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: blue;
    outline: none;
  }